.article-label {
  font-weight: bold;
}
img.article-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-card {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.article-title {
  margin: 0.3rem 0 0.15rem 0;
  font-size: 1.1rem;
}

.article-meta {
  font-size: 0.95rem;
}
